@import url("https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "ramadhan";
  src: url(../font/berkshire.ttf);
}
* {
  padding: 0;
  margin: 0;
  font-family: "poppins", "Anta";
  scroll-behavior: smooth;
}
body {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.header {
  width: 100%;
  height: 12%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
  box-sizing: border-box;
  background-color: #100b2b;
  box-shadow: 0 0 10px 10px black;
  /* backdrop-filter: blur(30px); */
  position: fixed;
  z-index: 1;
}
.logo {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
}
.logo a {
  text-decoration: none;
  line-height: 27px;
}
.logo h1 {
  color: #1d24ca;
  font-size: 1.6rem;
}
.logo span {
  color: white;
}
.navBar {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2%;
  box-sizing: border-box;
}
.navBar a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-size: 0.8rem;
  width: auto;
  height: auto;
  padding: 1%;
  box-sizing: border-box;
  border-radius: 10px;
}
.navBar a:hover,
.navBar a.aktif {
  background-color: #19afe9;
  background: linear-gradient(#1d24ca 10%, #201658 80%);
}

.beranda {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
  box-sizing: border-box;
  /* background-color: red; */
}
.konten-beranda {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: blue; */
}

/* Awal Tulisan Beranda */

.tulisan-beranda {
  width: 500px;
  height: 500px;
  display: flex;
  box-sizing: border-box;
  /* background-color: pink; */
}
.konten-tulisan-beranda {
  width: auto;
  height: auto;
}
.tulisan-utama-beranda {
  margin-bottom: 5%;
  width: 100%;
  height: auto;
}
.tulisan-utama-beranda h1 {
  font-family: "ramadhan";
  font-size: 6rem;
  line-height: 80px;
  color: white;
}
.tulisan-utama-beranda span {
  font-family: "ramadhan";
  color: #1d24ca;
}
.narasi-beranda {
  width: 90%;
  height: auto;
  color: white;
  margin-bottom: 5%;
}
.tbl-daftar-beranda {
  width: 100%;
  height: 20%;
}
.tbl-daftar-beranda button {
  border: none;
  width: 30%;
  height: 40%;
  border-radius: 5px;
  background: linear-gradient(#1d24ca 10%, #201658 80%);
}
.tbl-daftar-beranda button:hover {
  background: linear-gradient(#262dff 10%, #352494 80%);
}
.tbl-daftar-beranda a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Akhir Tulisan Beranda */

.gambar-beranda {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* background-color: green; */
}
.konten-gambar-beranda {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: end;
  justify-content: end;
  /* background-color: red; */
}
.konten-beranda img {
  width: 100%;
  filter: drop-shadow(0 0 130px rgb(21, 0, 255));
}
.daftar-lomba {
  width: 100%;
  height: 150%;
  padding: 2% 5%;
  box-sizing: border-box;
}
.konten-daftar-lomba {
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}
.item-daftar-lomba {
  box-shadow: inset 0 5px 10px 5px rgba(0, 157, 255, 0.702);
  width: 300px;
  height: 40%;
  background: linear-gradient(#1d24ca 10%, #201658 80%);
  border-radius: 10px;
  padding: 0% 3% 2% 3%;
  box-sizing: border-box;
}
.gambar-item {
  width: 100%;
  height: 30%;
  margin-bottom: 20%;
  /* background-color: green; */
}
.gambar-item img {
  width: 100%;
}
.duta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30% 4% 4% 4%;
  box-sizing: border-box;
}
.duta img {
  width: 60%;
}
.kaligrafi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  box-sizing: border-box;
}
.kaligrafi img {
  width: 60%;
}
.hafidz {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  box-sizing: border-box;
}
.hafidz img {
  width: 70%;
}
.cerdas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  box-sizing: border-box;
}
.cerdas img {
  width: 50%;
  filter: brightness(80%);
}
.nama-lomba {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-bottom: 6%;
  /* background-color: gray; */
}
.nama-lomba h1 {
  color: #f9e8c9;
  font-size: 1.8rem;
}
.narasi-lomba {
  width: 100%;
  height: 20%;
  overflow: scroll;
}
.narasi-lomba::-webkit-scrollbar {
  display: none;
}
.narasi-lomba p {
  color: #f9e8c9;
  text-align: center;
  font-size: 0.7rem;
}
.daftar-item {
  width: 100%;
  height: 20%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.tbl-daftar-item {
  background: linear-gradient(#1d24ca, #201658);
  border: none;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.348);
}
.tbl-daftar-item:hover {
  background: linear-gradient(#242ae9, #302185);
}
.tbl-daftar-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

#galeri{
  width: 100%;
  height: 100%;
  background-color: green;
}
